:root {
   --gold: #f14e95;
   --bg: #312f2f;
   --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
   font-size: 1.2rem;
   font-family: Arial, Helvetica, sans-serif;
   min-height: 6000px;
}

.btn:hover {
   transform: scale(1.5);
}

.hero::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-image: url(img/wedding.jpg);
   background-size: cover;
   background-position: center;
   z-index: -1;
   filter: grayscale();
   height: 100%;
}

.hero {
   position: relative;
   min-height: 100vh;
}

/* judul pasangan */
.judul {
   color: white;
   font-size: 40px;
   text-align: center;
   font-size: 5rem;
   font-family: 'Sacramento', cursive;
   text-shadow: #f14e95 3px 3px 5px;
}

.hero h6,
.hero h4 {
   font-weight: bold;
   color: white;
}

.hero h4 {
   font-family: 'Sacramento', cursive;
   font-size: 3.5rem;
}

.hero h6 {
   font-size: 1.1rem;
}

.hero a {
   background-color: var(--gold);
   font-weight: bold italic;
   box-shadow: var(--shadow);
   color: white;
}

.hero a:hover {
   background-color: white;
   color: var(--bg);
}

.myNavbar {
   background-color: rgba(153, 151, 151, 0.3);
   backdrop-filter: blur(4px);
}

.myNavbar .offcanvas {
   height: 100vh;
}

.myNavbar .navbar-brand,
.myNavbar .offcanvas-title {
   font-family: 'sacramento';
   font-weight: bold;
   font-size: 3.2rem;
   color: black;
}

.myNavbar .nav-link {
   font-weight: 600;
   text-transform: uppercase;
   color: rgb(27, 27, 27);
}

.home {
   background-image: url(img/latar.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   min-height: 100vh;
   padding-top: 80px;
   padding-bottom: 10rem;
}

.home h2,
.story h2,
.galery h2,
.rsvp h2,
.hadiah h2 {
   color: var(--gold);
   font-family: 'sacramento';
   text-shadow: black 2px 2px;
   font-size: 5rem;
   font-weight: bold;
   margin-top: 30px;
}
.home h3 {
   color: black;
   font-size: 1.5rem;
   margin-bottom: 1rem;
   font-weight: bold;
}

.home p {
   font-size: 1.1rem;
   color: #444;
}

.home .couple {
   margin-top: 300px;
}

.home .couple h3 {
   font-family: 'sacramento';
   color: var(--gold);
   font-size: 3em;
   text-shadow: black 1px 1px;
}

.home .couple img {
   width: 100%;
}

.home .love {
   background-color: white;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   display: flex;
   box-shadow: black 0 0 5px 1px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%) translateY(65px);
}

.home .love i {
   margin: auto;
   color: rgba(216, 71, 95, 0.904);
}

.info {
   background-color: rgb(17, 17, 17);
   color: white;
   padding-top: 10rem;
   padding-bottom: 10rem;
}

.info h2 {
   font-family: 'sacramento';
   color: var(--gold);
   font-size: 5rem;
   font-weight: bold;
   margin-bottom: 20px;
}

.info .card {
   background-color: rgba(255, 255, 255, 0.2) !important;
   color: white !important;
   border: 1px solid white;
}

.info .card-header {
   border-bottom: 1px solid #999;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   font-weight: bold;
}

.info .card-body {
   font-size: 1rem;
}

.info .card-footer {
   border-top: 1px solid #999;
   font-size: 0.9rem;
   font-weight: 300;
}

.story,
.galery,
.rsvp,
.hadiah {
   padding-top: 10rem;
   padding-bottom: 8rem;
}

.story span,
.galery span,
.hadiah span {
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #424242;
   display: block;
}

.story p,
.galery p,
.rsvp p,
.hadiah p {
   font-size: 1rem;
   font-weight: 100;
   color: #424242;
}

.timeline {
   position: relative;
   list-style: none;
   margin-top: 1.4rem;
   padding: 1.4rem 0;
}

.timeline::before {
   content: '';
   top: 0;
   bottom: 0;
   position: absolute;
   width: 1px;
   background-color: black;
   left: 50%;
}

.timeline li {
   margin-bottom: 1.5rem;
   position: relative;
}

.timeline li::before,
.timeline li::after {
   content: '';
   display: table;
}

.timeline li::after {
   clear: both;
}

.timeline li .timeline-img {
   width: 160px;
   height: 160px;
   background-color: #b1b1b1;
   position: absolute;
   left: 50%;
   top: 30px;
   transform: translate(-50%);
   border-radius: 50%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.timeline li .timeline-panel1 {
   width: 40%;
   float: left;
   border: 2px solid #b1b1b1;
   padding: 2rem;
   border-radius: 10px;
}

.timeline li .timeline-panel2 {
   width: 40%;
   float: right;
   border: 2px solid #b1b1b1;
   padding: 2rem;
   border-radius: 10px;
}

.timeline li .timeline-panel3 {
   width: 40%;
   float: left;
   border: 2px solid #b1b1b1;
   padding: 2rem;
   border-radius: 10px;
}

.timeline li .timeline-panel4 {
   width: 40%;
   float: right;
   border: 2px solid #b1b1b1;
   padding: 2rem;
   border-radius: 10px;
}

.galery {
   background-color: #999;
}

.rsvp {
   background-color: var(--bg);
}

.rsvp p {
   font-size: 1rem;
   color: white;
   text-decoration: underline;
}

.rsvp .form-label {
   color: white;
}

.rsvp button {
   background-color: var(--gold);
   color: white;
   border: 1px solid var(--gold);
   margin-top: 20px;
}

.rsvp button:hover {
   background-color: white;
   color: var(--gold);
   border: 1px solid white;
}

footer {
   padding: 1rem;
   background-color: var(--gold);
   color: white;
}

footer a {
   color: var(--bg);
   font-weight: bold;
   text-decoration: none;
}

footer a:hover {
   color: white;
}

footer li {
   list-style: none;
   display: inline;
}

/* Responsive */
/* Extra Large */
@media (max-width: 1200px) {
   .home .love {
      transform: translateX(-50%) translateY(45px);
   }
}
/* Media Query */

/* Laptop */
@media (max-width: 992px) {
   html {
      font-size: 75%;
   }

   .simply-countdown > .simply-section {
      padding: 70px;
   }

   @media (max-width: 1200px) {
      .home .love {
         display: none;
      }
   }

   .timeline::before {
      left: 60px;
   }

   .timeline li .timeline-img {
      left: 15px;
      margin-left: 45px;
      top: 0;
   }

   .timeline li .timeline-panel1 {
      width: calc(100% - 200px);
      float: right;
   }
   .timeline li .timeline-panel2 {
      width: calc(100% - 200px);
      float: right;
   }
   .timeline li .timeline-panel3 {
      width: calc(100% - 200px);
      float: right;
   }
   .timeline li .timeline-panel4 {
      width: calc(100% - 200px);
      float: right;
   }
}

/* Tablet */
@media (max-width: 768px) {
   html {
      font-size: 65%;
   }

   .simply-countdown > .simply-section {
      padding: 60px;
      margin: 5px;
   }

   .myNavbar .nav-link {
      font-size: 1rem;
      text-align: center;
   }

   .myNavbar .navbar-brand {
      font-size: 1.7rem;
   }

   .timeline li .timeline-img {
      width: 130px;
      height: 130px;
   }

   .timeline li .timeline-panel1 {
      width: 70%;
   }

   .timeline li .timeline-panel2 {
      width: 70%;
   }

   .timeline li .timeline-panel3 {
      width: 70%;
   }

   .timeline li .timeline-panel4 {
      width: 70%;
   }
}

/* Mobile (HP) */
@media (max-width: 576px) {
   html {
      font-size: 55%;
   }

   .simply-countdown > .simply-section {
      padding: 35px;
      margin: 2px;
   }

   .myNavbar .nav-link {
      font-size: 1rem;
      text-align: center;
   }

   .myNavbar .navbar-brand {
      font-size: 2.3rem;
   }

   .info h2 {
      font-family: 'sacramento';
      color: var(--gold);
      font-size: 4rem;
      font-weight: bold;
   }

   .timeline li .timeline-img {
      left: 15px;
      margin-left: 45px;
      top: 15px;
   }

   .timeline li .timeline-img {
      width: 110px;
      height: 110px;
   }

   .timeline li .timeline-panel1 {
      width: 60%;
   }

   .timeline li .timeline-panel2 {
      width: 60%;
   }

   .timeline li .timeline-panel3 {
      width: 60%;
   }

   .timeline li .timeline-panel4 {
      width: 60%;
   }

   .rsvp h2 {
      font-size: 34px;
   }
}
