:root {
   --gold: #ffe569;
   --bg: #312f2f;
   --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
   font-size: 1.2rem;
   font-family: 'Edu SA Beginner', cursive;
   min-height: 2000px;
}

.hero::before {
   content: '';
   min-width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   background-image: url(img/weding1.jpg);
   background-size: cover;
   background-position: center;
   z-index: -1;
   filter: grayscale();
   height: 100%;
}

.hero {
   position: relative;
   min-height: 100vh;
}

/* judul pasangan */
.judul {
   color: black;
   font-size: 40px;
   text-align: center;
   font-size: 5rem;
   font-family: 'Sacramento', cursive;
   text-shadow: #ffe569 3px 3px 5px;
}

.hero h6,
.hero h4 {
   text-shadow: var(--shadow);
   color: black;
   font-weight: bold;
}

.hero h4 {
   font-family: 'Sacramento', cursive;
   font-size: 3.5rem;
}

.hero h6 {
   font-size: 1.1rem;
}

.hero a {
   background-color: var(--gold);
   font-weight: bold italic;
   box-shadow: var(--shadow);
}

.hero a:hover {
   background-color: white;
   color: var(--bg);
}

/* Responsive */
/* Media Query */

/* Laptop */
@media (max-width: 992px) {
   html {
      font-size: 75%;
   }

   .simply-countdown > .simply-section {
      padding: 70px;
   }

   .hero::before {
      height: 100%;
   }
}

/* Tablet */
@media (max-width: 768px) {
   html {
      font-size: 65%;
   }

   .simply-countdown > .simply-section {
      padding: 60px;
      margin: 5px;
   }

   .hero::before {
      height: 100%;
   }
}

/* Hp */
@media (max-width: 576px) {
   html {
      font-size: 60%;
   }

   .simply-countdown > .simply-section {
      padding: 40px;
      margin: 3px;
   }

   .hero::before {
      height: 100%;
   }
}
